@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}

a.active {
  border-bottom: 2px solid #632ee3;
  background: linear-gradient(to right, #632ee3, #9f62f2);
  background-clip: text;
  color: transparent;
}
